<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <!-- User form for data collection -->
    <div id="form">
        <form action="/submit", method="POST">
            <lable for="first_name">First Name</lable>
            <input type="text" id="first_name" name="first_name" placeholder="Enter your first name">
            <br>
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" placeholder="Enter your last name">
            <br>
            <label for="address">Address</label>
            <input type="text" id="address" name="address" placeholder="Enter your Address">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <!-- Error message display -->
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</body>
<!-- Basic styling for form layout -->
<style>
    body {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
</style>
</html>
